<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Courses</title>
</head>
<body>
<h1>Courses List</h1>

<div class="container">
    <div th:if="${not #lists.isEmpty(coursesList)}">
        <table class="table table-stripped">
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Start date</td>
                <td>End date</td>
                <td>Duration</td>
                <td>Provider</td>
                <td>Type</td>
                <td>Delete?</td>
                <td>Update?</td>
            </tr>
            <tr th:each="course: ${coursesList}">
                <td th:text="${course.id}"></td>
                <td><a th:text="${course.title}" th:href="@{/courses/{id}(id=${course.id})}"></a></td>
                <td th:text="${course.startDate}"></td>
                <td th:text="${course.endDate}"></td>
                <td th:text="${course.duration}"></td>
                <td th:text="${course.provider}"></td>
                <td th:text="${course.type}"></td>
                <td>
                    <form action="#" th:action="@{/delete-course/{id}(id=${course.id})}" method="post">
                        <input type="submit" value="Delete"/>
                    </form>
                </td>
                <td>
                    <form action="#" th:action="@{/update-course-page/{id}(id=${course.id})}" method="get">
                        <input type="submit" value="Update"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(coursesList)}">
        <span>There are no courses listed.</span>
    </div>
    <div th:insert="fragments/footer.html :: footer"></div>
</div>
</body>
</html>