<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${'Course Details: ' + course.title}"></title>
</head>
<body>
<h1 th:text="${'Course Details: ' +  course.title}"></h1>
<div class="container">
    <div th:if="${course != null}">
        <table class="table table-stripped">
            <tr>
                <td>Id:</td>
                <td th:text="${course.id}"></td>
            </tr>
            <tr>
                <td>Title:</td>
                <td th:text="${course.title}"></td>
            </tr>
            <tr>
                <td>Start date:</td>
                <td th:text="${course.startDate}"></td>
            </tr>
            <tr>
                <td>End date:</td>
                <td th:text="${course.endDate}"></td>
            </tr>
            <tr>
                <td>Duration:</td>
                <td th:text="${course.duration}"></td>
            </tr>
            <tr>
                <td>Type:</td>
                <td th:text="${course.type}"></td>
            </tr>
            <tr>
                <td>Provider:</td>
                <td th:text="${course.provider}"></td>
            </tr>
            <tr>
                <td>Comments:</td>
                <td th:text="${course.comments}"></td>
            </tr>
            <tr>
                <td>Instructors:</td>
                <td th:text="${course.instructors}"></td>
            </tr>
            <tr>
                <td>Location:</td>
                <td th:text="${course.location}"></td>
            </tr>
        </table>
    </div>

    <div th:if="${course == null}">
        <span>No course selected.</span>
    </div>
    <div th:insert="fragments/footer.html :: footer"></div>
</div>
</body>
</html>