<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${pageTitle}"></title>
</head>
<body>
<h1 th:text="${pageTitle}"></h1>

<div class="container">
    <form action="#" th:action="@{/{path}(path=${formPath})}" th:object="${course}" method="post">
        <input type="text" hidden="hidden" th:field="*{id}"/>
        <table class="table table-stripped">
            <tr>
                <td>Title:</td>
                <td><input type="text" th:field="*{title}"/></td>
            </tr>
            <tr>
                <td>Start date:</td>
                <td><input type="date" th:field="*{startDate}"/></td>
            </tr>
            <tr>
                <td>End date:</td>
                <td><input type="date" th:field="*{endDate}"/></td>
            </tr>
            <tr>
                <td>Duration:</td>
                <td><input type="text" th:field="*{duration}"/></td>
            </tr>
            <tr>
                <td>Type:</td>
                <td>
                    <select th:field="*{type}">
                        <option th:each="type: ${T(omr.courses.domain.CourseType).values()}"
                                th:value="${type}"
                                th:text="${type}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Provider:</td>
                <td><input type="text" th:field="*{provider}"/></td>
            </tr>
            <tr>
                <td>Comments:</td>
                <td><input type="text" th:field="*{comments}"/></td>
            </tr>
            <tr>
                <td>Instructors:</td>
                <td><input type="text" th:field="*{instructors}"/></td>
            </tr>
            <tr>
                <td>Location:</td>
                <td><input type="text" th:field="*{location}"/></td>
            </tr>
        </table>
        <p><input type="submit" value="Submit"/></p>
    </form>
    <div th:insert="fragments/footer.html :: footer"></div>
</div>
</body>
</html>